/*=============================================
=            my account            =
=============================================*/

.my-account-area {
  &__content {
    padding: 30px;
    border-radius: 8px;
    border: 1px solid $grey--ten;

    @include respond(large-mobile) {
      padding: 20px 15px;
    }

    > h3 {
      font-size: 20px;
      font-weight: 600;

      margin-bottom: 25px;
      padding-bottom: 10px;

      border-bottom: 1px solid $grey--eleven;
    }
    > div.supportNav {
      p.myOrdersOrder_ID {
        font-size: 13 !important;
      }

      p {
        font-size: 18px;
        font-weight: 600;
        &.slugOrder_id {
          font-size: 16px;
          @include respond(small-mobile) {
            font-size: 14px;
            padding-top: 2px;
          }
          @include respond(extra-small-mobile) {
            font-size: 11px;
            padding-top: 3px;
          }
        }
        span {
          padding-left: 2px;
          font-weight: 400;
          @include respond(extra-small-mobile) {
            font-size: 9px !important;
          }
        }
        @include respond(small-mobile) {
          font-size: 15px;
        }
        @include respond(extra-small-mobile) {
          font-size: 13px;
        }
      }

      margin-bottom: 25px;
      padding-bottom: 10px;

      border-bottom: 1px solid $grey--eleven;
    }
  }
}
.orderIdDetails {
  @include respond(large-mobile) {
    font-size: 14px;
    span {
      margin: 5px !important;
    }
  }
}
button.orderViewButton {
  all: unset;
  border: 1px solid grey;
  border-radius: 8px;
  color: green;
}

/*=====  End of my account  ======*/
